# Unreal Engine build folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# User-specific files
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Auto-save, log, and temp
*.autosave
*.log
*.tmp
